-
  const ServicesSlider = [
      {
        image: '@/assets/img/services/services-slider.jpg',
        title: 'Услуга «от двери до двери»',
        text: 'Доставляя грузы по всему миру, мы заботимся о комфорте клиента. Получайте товар там, где вам удобно — формат «door-to-door» избавит от формальностей и сэкономит ваше время.',
      },
      {
        image: '@/assets/img/services/services-slider.jpg',
        title: 'Услуга «от двери до двери»',
        text: 'Доставляя грузы по всему миру, мы заботимся о комфорте клиента. Получайте товар там, где вам удобно — формат «door-to-door» избавит от формальностей и сэкономит ваше время.',
      },
      {
        image: '@/assets/img/services/services-slider.jpg',
        title: 'Услуга «от двери до двери»',
        text: 'Доставляя грузы по всему миру, мы заботимся о комфорте клиента. Получайте товар там, где вам удобно — формат «door-to-door» избавит от формальностей и сэкономит ваше время.',
      },
  ];

.section.services-inner
  ._container
    .services-inner-slider.swiper
      .swiper-wrapper

        if ServicesSlider.length !== 0
          each item, index in ServicesSlider

            .swiper-slide

              .services-inner__image
                img(src=require(item.image), alt=item.title)

              .services-inner__main

                h2.services-inner__title!= item.title
                p.services-inner__text.text-with-before!= item.text

                button.services-inner__button.button-light.popup-open(data-popup="_popup-form") 
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.9166 7.375H7.08325C6.84992 7.375 6.66659 7.19167 6.66659 6.95833V5.70833C6.66659 5.475 6.84992 5.29167 7.08325 5.29167H12.9166C13.1499 5.29167 13.3333 5.475 13.3333 5.70833V6.95833C13.3333 7.19167 13.1499 7.375 12.9166 7.375ZM13.3333 9.875V9.04167C13.3333 8.80833 13.1499 8.625 12.9166 8.625H12.0833C11.8499 8.625 11.6666 8.80833 11.6666 9.04167V9.875C11.6666 10.1083 11.8499 10.2917 12.0833 10.2917H12.9166C13.1499 10.2917 13.3333 10.1083 13.3333 9.875ZM8.33325 9.875V9.04167C8.33325 8.80833 8.14992 8.625 7.91659 8.625H7.08325C6.84992 8.625 6.66659 8.80833 6.66659 9.04167V9.875C6.66659 10.1083 6.84992 10.2917 7.08325 10.2917H7.91659C8.14992 10.2917 8.33325 10.1083 8.33325 9.875ZM10.8333 9.875V9.04167C10.8333 8.80833 10.6499 8.625 10.4166 8.625H9.58325C9.34992 8.625 9.16658 8.80833 9.16658 9.04167V9.875C9.16658 10.1083 9.34992 10.2917 9.58325 10.2917H10.4166C10.6499 10.2917 10.8333 10.1083 10.8333 9.875ZM13.3333 12.5833V11.75C13.3333 11.5167 13.1499 11.3333 12.9166 11.3333H12.0833C11.8499 11.3333 11.6666 11.5167 11.6666 11.75V12.5833C11.6666 12.8167 11.8499 13 12.0833 13H12.9166C13.1499 13 13.3333 12.8167 13.3333 12.5833ZM8.33325 12.5833V11.75C8.33325 11.5167 8.14992 11.3333 7.91659 11.3333H7.08325C6.84992 11.3333 6.66659 11.5167 6.66659 11.75V12.5833C6.66659 12.8167 6.84992 13 7.08325 13H7.91659C8.14992 13 8.33325 12.8167 8.33325 12.5833ZM10.8333 12.5833V11.75C10.8333 11.5167 10.6499 11.3333 10.4166 11.3333H9.58325C9.34992 11.3333 9.16658 11.5167 9.16658 11.75V12.5833C9.16658 12.8167 9.34992 13 9.58325 13H10.4166C10.6499 13 10.8333 12.8167 10.8333 12.5833ZM13.3333 15.2917V14.4583C13.3333 14.225 13.1499 14.0417 12.9166 14.0417H12.0833C11.8499 14.0417 11.6666 14.225 11.6666 14.4583V15.2917C11.6666 15.525 11.8499 15.7083 12.0833 15.7083H12.9166C13.1499 15.7083 13.3333 15.525 13.3333 15.2917ZM10.8333 15.2917V14.4583C10.8333 14.225 10.6499 14.0417 10.4166 14.0417H7.08325C6.84992 14.0417 6.66659 14.225 6.66659 14.4583V15.2917C6.66659 15.525 6.84992 15.7083 7.08325 15.7083H10.4166C10.6499 15.7083 10.8333 15.525 10.8333 15.2917ZM16.0416 16.75V4.25C16.0416 3.21667 15.1999 2.375 14.1666 2.375H5.83325C4.79992 2.375 3.95825 3.21667 3.95825 4.25V16.75C3.95825 17.7833 4.79992 18.625 5.83325 18.625H14.1666C15.1999 18.625 16.0416 17.7833 16.0416 16.75ZM14.1666 3.625C14.5083 3.625 14.7916 3.90833 14.7916 4.25V16.75C14.7916 17.0917 14.5083 17.375 14.1666 17.375H5.83325C5.49159 17.375 5.20825 17.0917 5.20825 16.75V4.25C5.20825 3.90833 5.49159 3.625 5.83325 3.625H14.1666Z" fill="white"/>
                  </svg>
                  span Рассчитать стоимость

      .services-inner-slider-controls
      .services-inner-slider-pagination pagination