@import './base';

:root {
  // @include viewport-tablet {
  //   --wrap: calc(5 * var(--vw, 1vw));
  // }
  // @include viewport-phone {
  //   --wrap: calc(5 * var(--vw, 1vw));
  // }
  
  // @include viewport-desktop {
  //   --wrap: calc(5.75 * var(--vw, 1vw));

  //   @media (min-width: 1300px) {
  //     --wrap: calc((var(--vw, 1vw) * 100 - 1200px) / 2);
  //   }
  // }
  @include viewport-tablet {
    --wrap: 6.444vw;
  }
  @include viewport-phone {
    --wrap: 4.444vw;
  }
  
  --wrap: 10.416vw;

  @include viewport-desktop {
    @media (min-width: 1400px) {
      --wrap: calc((100vw - 1140px) / 2);
    }
  }
}
