.feedback
  .action__image 
    img(src=require("@/assets/img/popup-img-2.jpg"), alt="popup-img-2")

  .action__main
    p.feedback__title Дякуємо! Форму успішно відправлено.

    p.feedback__subtitle!= "Ваша заявка принята. <br/>Ми свяжемся с вами в ближайшее время."
